@page "/"
@attribute [Authorize]

<PageTitle>Home</PageTitle>

<AuthorizeView>
    <Authorized>
        <h3>Добро пожаловать на платформу Crypto Exchange!</h3>
        <p>Вы можете управлять своими активами на странице <a href="/assets">Assets</a>.</p>
    </Authorized>
    <NotAuthorized>
        <p>Пожалуйста, <a href="/login">войдите</a>, чтобы получить доступ к платформе.</p>
    </NotAuthorized>
</AuthorizeView>